@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Şifre Değiştir";
}
<style>
    .profile-wrapper {
        max-width: 500px;
        background-color: #fff;
        padding: 35px;
        border-radius: 20px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    }

    .profile-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 25px;
        color: #222;
        text-align: center;
    }
</style>

<div class="profile-wrapper">
    <div class="profile-title">Şifre Değiştir</div>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="form-group mb-4">
            <label asp-for="Input.OldPassword"><i class="bi bi-lock-fill form-icon"></i> Mevcut Şifre</label>
            <input asp-for="Input.OldPassword" class="form-control" type="password" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="Input.NewPassword"><i class="bi bi-shield-lock form-icon"></i> Yeni Şifre</label>
            <input asp-for="Input.NewPassword" class="form-control" type="password" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label asp-for="Input.ConfirmPassword"><i class="bi bi-check2-circle form-icon"></i> Yeni Şifre (Tekrar)</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-save">Şifreyi Güncelle</button>
    </form>
</div>
